.chatArea{
    height: 85vh;
    
    align-items: end;
    
    overflow: auto;
}
.chatItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bgColor{
    background-color: #c4ecfd;
    
}